.subWrapper
  .Profile
    .Profile__logo
      = image_tag src="material/logo/logo.png", size: "150x50", class: "logo"
    .Profile__master
      .Profile__entry
        .Profile__title
          会員情報入力
        .Profile__formBox
          = form_with model:@profile,local:true do |f|
            .Profile__errorMessages
              = render 'layouts/error_messages', model: f.object
            .field
              = f.label :お名前（全角）, class:"label_head"
              = f.label :必須, class:"label_required"
              %br/
              .field__nameInput
                = f.text_field :first_name, placeholder:"例)佐藤"
                = f.text_field :last_name, placeholder:"例)太郎"

            .field
              = f.label :お名前カナ（全角）, class: "label_head"
              = f.label :必須, class:"label_required"
              %br/
              .field__nameInput
                = f.text_field :first_name_kana, placeholder:"例)サトウ"
                = f.text_field :last_name_kana, placeholder:"例)タロウ"

            .field
              = f.label :生年月日, class: "label_head"
              = f.label :必須, class:"label_required"
              %br/
              = f.date_select :birthday, use_month_numbers:true, prompt:"--", start_year:Time.now.year, end_year:1900

            .actions
              = f.submit "登録する", id:"submit"