.MyPageWrapper
  .MyPageContents
    .MyPageContents__LeftSide
      = render 'users/mypage_leftside'
    .MyPageContents__RightSide
      .subWrapper
        .Account
          .Account__master
            .Account__master__entry
              .Account__master__entry__title
                %h2 メールアドレス/パスワード変更
              .Account__master__entry__form
                = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                  = render "devise/shared/error_messages", resource: resource
                  .Formfiled
                    .Formfiled_label
                      .field_one
                        = f.label :ニックネーム
                      .nickname
                        = current_user.nickname
                  .Formfiled
                    .Formfiled_label
                      .field_one
                        = f.label :メールアドレス
                        %span 必須
                      .field_second
                        = f.email_field :email, autofocus: true, autocomplete: "email"
                      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                        %div
                          Currently waiting confirmation for: #{resource.unconfirmed_email}
                  .Formfiled
                    .Formfiled_label
                      .field_one
                        = f.label :新しいパスワード
                        - if @minimum_password_length
                          %em
                            (#{@minimum_password_length}文字以上)
                        %br/
                        %i (変更しない場合は何も入力しないでください)
                      .field_second
                        = f.password_field :password, autocomplete: "new-password"
                  .Formfiled
                    .Formfiled_label
                      .field_one
                        = f.label :確認用パスワード
                      .field_second
                        = f.password_field :password_confirmation, autocomplete: "new-password"
                  .Formfiled
                    .Formfiled_label
                      .field_one
                        = f.label :現在のパスワード
                        %br/
                        %i (ユーザー確認のため現在のパスワードを入力してください)
                      .field_second
                        = f.password_field :current_password, autocomplete: "current-password"
                  .actions
                    = f.submit "変更する"