.subWrapper
  .Account
    .Account__logo
      = image_tag src="material/logo/logo.png", size: "150x50", class: "logo"
      %nav.progressBar
        %ol.progresses
          %li.Progress{ id: "first" }
            .progressTile-active
              メール/パスワード
            .progressBorder
            .progressRound-blue
          %li.Progress{ id: "second" }
            .progressTile
              会員情報
            .progressBorder
            .progressRound
          %li.Progress{ id: "third" }
            .progressTile
              お届け先住所入力
            .progressBorder
            .progressRound
          %li.Progress{ id: "forth" }
            .progressTile
              支払い方法
            .progressBorder
            .progressRound
          %li.Progress{ id: "fifth" }
            .progressTile{ id: "end" }
              完了
            .progressRound
    .Account__master
      .Account__master__entry
        .Account__master__entry__title
          %h2 新規登録
        .Account__master__entry__form
          = form_for(resource, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .Formfiled
              .Formfiled_label
                .field_one
                  = f.label :ニックネーム
                  %span 必須
                .field_second
                  = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"field", placeholder:"例)Yamada"
            .Formfiled
              .Formfiled_label
                .field_one
                  = f.label :メールアドレス
                  %span 必須
                .field_second
                  = f.email_field :email, autofocus: true, autocomplete: "email", class:"field", placeholder:"xxx@furima.com"
            .Formfiled
              .Formfiled_label
                .field_one
                  = f.label :パスワード
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length}文字以上)
                    %span 必須
                .field_second
                  = f.password_field :password, autocomplete: "new-password", class:"field", placeholder:"7文字以上の半角英数字"
            .Formfiled
              .Formfiled_label
                .field_one
                  = f.label :確認用パスワード
                  %span 必須
                .field_second
                  = f.password_field :password_confirmation, autocomplete: "new-password", class:"field", placeholder:"もう一度"
            .actions
              = f.submit "登録する", class: "sign__btn"
            = render "devise/shared/links"