%nav.functions
  %ul
    %li.function-mypage
      = link_to 'マイページ', "/"
      %i.fas.fa-chevron-right
    %li.function
      = link_to '出品した商品 - 出品中', "/"
      %i.fas.fa-chevron-right
    %li.function
      = link_to '出品した商品 - 売却済み', "/"
      %i.fas.fa-chevron-right
    %li.function
      = link_to '購入した商品 - 過去の取引', "/"
      %i.fas.fa-chevron-right
  %h3.settings
    設定
  %ul
    %li.function
      = link_to 'プロフィール', "/"
      %i.fas.fa-chevron-right
    %li.function
      = link_to '商品送付先住所変更', "/"
      %i.fas.fa-chevron-right
    %li.function
      = link_to 'メール/パスワード', "/"
      %i.fas.fa-chevron-right
    %li.function
      = link_to 'クレジットカード登録', "/"
      %i.fas.fa-chevron-right
    %li.function
      = link_to 'ログアウト', "/"
      %i.fas.fa-chevron-right