%nav.functions
  %ul
    %li
      = link_to users_path do
        .function-mypage
          マイページ
          %i.fas.fa-chevron-right
    %li
      = link_to "/" do
        .function
          出品した商品 - 出品中
          %i.fas.fa-chevron-right
    %li
      = link_to "/" do
        .function
          出品した商品 - 売却済み
          %i.fas.fa-chevron-right
    %li
      = link_to "/" do
        .function
          購入した商品 - 過去の取引
          %i.fas.fa-chevron-right
  %h3.settings
    設定
  %ul
    %li
      = link_to "/" do
        .function
          プロフィール 登録・変更
          %i.fas.fa-chevron-right
    %li
      = link_to edit_product_address_path(current_user.id) do
        .function
          商品送付先住所 登録・変更
          %i.fas.fa-chevron-right
    %li
      = link_to  edit_user_registration_path(current_user.id) do
        .function
          メール/パスワード 変更
          %i.fas.fa-chevron-right
    %li
      = link_to "/" do
        .function
          クレジットカード 登録
          %i.fas.fa-chevron-right
    %li
      = link_to user_logout_path(current_user.id) do
        .function 
          ログアウト
          %i.fas.fa-chevron-right
    %li
      = link_to user_account_delete_path(current_user.id) do
        .function 
          アカウント 削除
          %i.fas.fa-chevron-right