.subWrapper
  .Account
    .Account__logo
      = image_tag src="material/logo/logo.png", size: "150x50", class: "logo"
    .Account__master
      .Account__master__entry
        .Account__master__entry__title
          %h2 パスワードお忘れの方
        .Account__master__entry__form
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = render "devise/shared/error_messages", resource: resource
            .Formfiled
              .Formfiled_lavel
                .field_one
                  = f.label :メールアドレス
                .field_second
                  = f.email_field :email, autofocus: true, autocomplete: "email", class:"field", placeholder:"xxx@furima.com"
            .actions
              = f.submit "送信する", class: "sign__btn"
            = render "devise/shared/links"
