.subWrapper
  .Account
    .Account__logo
      = image_tag src="material/logo/logo.png", size: "150x50", class: "logo"
    .Account__master
      .Account__master__entry
        .Account__master__entry__title
          %h2 ログイン
        .Account__master__entry__form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .Formfiled
              .Formfiled_lavel
                .field_one
                  = f.label :メールアドレス
                .field_second
                  = f.email_field :email, autofocus: true, autocomplete: "email", class:"field", placeholder:"xxx@furima.com"
            .Formfiled
              .Formfiled_lavel
                .field_one
                  = f.label :パスワード
                .field_second
                  = f.password_field :password, autocomplete: "current-password", class:"field", placeholder:"7文字以上の半角英数字"
            .actions
              = f.submit "ログイン", class: "sign__btn"
            = render "devise/shared/links"
