.buys
  .buys__logo
    = image_tag src="material/logo/logo.png", size: "140x40", class: "item-new-logo"
  .buys__contents
    .buyTitle 
      購入内容の確認
    .buyItem
      = image_tag @item.item_images[0].image.url,size: "320x220",class: "buyImage"
      .buyInfo
        .buyInfo__name
          = @item.name
        .buyInfo__charge
          = @item.delivery_charge_id
    .buyPrice
      .buyPrice__title
        商品金額
      .buyPrice__price
        = @item.price.to_s(:delimited)
        円
    .buyCredit
      - if current_user.credit
        お支払いは登録されている
        %br クレジットカードでの決済になります。
      - else
        = link_to  new_credit_path, class: "noneCredit" do
          クレジットカードを登録して下さい。
    .buyBtn
      - if current_user.product_address && current_user.credit
        = link_to pay_item_item_path, method: :post, class: "payBtn" do
          購入する
      - else
        .buyExit
          カードの登録後購入ができます