.border
.postForm
  .postForm__title
    = image_tag src="material/logo/logo.png", size: "140x40", class: "item-new-logo"
  .postForm__main
    = form_with model: @item, method: :PATCH, id: "item-dropzone", local: true do |f|
      .postContents
        .postContent
          .selectTitle
            .selectTitle__info
              出品画像
            .selectTitle__required
              必須
          .selectImageUpload
            最大5枚までアップロードできます             
          .imageUpload
            .prev-content
              - @item.item_images.each_with_index do |image,i|
                .preview-box
                  .upper-box
                    - if image.persisted?
                      = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .delete-box
                      .delete-btn{data:{delete_id: i}} 削除
            .label-content
              //プレビューの数に合わせてforオプションを指定
              = f.label :"item_images_attributes_#{@item.item_images.length}_image", class: "label-box" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :item_images do |i|
                //プレビューが出ている分のfile_fieldを設置
                = i.file_field :image, class:"hidden-field"
                = i.check_box :_destroy, class:"hidden-field"
                //5つのfile_fieldを準備するに当たって、足りない分を表示
              - @item.item_images.length.upto(4) do |i|
                %input{name: "item[item_images_attributes][#{i}][image]", id: "item_item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
          .imageExistenceContent
        .borders
        .postContent
          .selectNameIntro
            .selectNameIntro__name
              商品名
            .selectTitle__required
              必須
          = f.text_field :name, class: "inputName", placeholder: "40文字以内"
          .selectNameIntro
            .selectNameIntro__name
              商品の説明
            .selectTitle__required
              必須
          = f.text_area :introduction, class: "inputText", placeholder: "1000文字以内"
          .oneThousand
            .oneThousand__one 0/1000
        .borders
        .postContent
          .selectShowTitle 商品の詳細
          .selectShow              
            .selectNameIntro__name
              カテゴリー
            .selectTitle__required
              必須
          .CategoryBox
            .CategoryBox__select
              = f.collection_select :category_id, @itemcategory, :id, :name, {selected: @item.category.parent.parent.id}, {id: 'parent_category'} 
              .categorySelector__contents__choose#children_wrapper
                = f.collection_select :category_id, @childrencategory, :id, :name, {selected: @item.category.parent.id}, {id: 'child_category'}
              .categorySelector__contents__choose#grandchildren_wrapper
                = f.collection_select :category_id, @grandchildrencategory, :id, :name, {selected: @item.category.id}, {id: 'grandchild_category'}
          .selectShow              
            .selectNameIntro__name
              ブランド
            .selectTitle__optional
              任意
          = f.text_field :brand, class: "inputName", placeholder: "選択してください"
          .selectShow              
            .selectNameIntro__name
              商品の状態
            .selectTitle__required
              必須
          = f.collection_select :condition_id, Condition.all, :name, :name, {include_blank: "選択してください"}, {class: "inputInformation"}
        .borders
        .postContent
          .selectShowTitle 配送について
          .selectShow   
            .selectNameIntro__name
              配送料の負担
            .selectTitle__required
              必須
          = f.collection_select :delivery_charge_id, DeliveryCharge.all, :name, :name, {include_blank: "選択してください"}, {class: "inputInformation"}
          .selectShow   
            .selectNameIntro__name
              配送元に地域
            .selectTitle__required
              必須
          = f.collection_select :delivery_origin_id, DeliveryOrigin.all, :name, :name, {include_blank: "選択してください"}, {class: "inputInformation"}
          .selectShow   
            .selectNameIntro__name
              配送までの日数
            .selectTitle__required
              必須
          = f.collection_select :delivery_date_id, DeliveryDate.all, :name, :name, {include_blank: "選択してください"}, {class: "inputInformation"}
        .borders
        .postContent
          .selectShowTitle 価格 (¥300~9,999,999)
          .selectPrices
            .selectShow   
              .selectNameIntro__name
                販売価格
              .selectTitle__required
                必須
            .selectPrice
              ¥
              = f.number_field :price, min: '300', max: '9999999' , class: "inputPrice", placeholder: "0", size: "40x40"
          .exhibition
            = f.submit "変更する", class: "exhibition-btn"
            = link_to "キャンセル", "#", class: "exhibition-cancel"
  .postForm__footer
    .postFooterList
      = link_to "プライバシーポリシー", "#", class: "postFooterList__list"
      = link_to "フリマ利用契約", "#", class: "postFooterList__list" 
      = link_to "特定商取引に関する表記", "#", class: "postFooterList__list"  
    .postFooterLogo
      =image_tag src="material/logo/logo-white.png", size: "140x40", class: "item-new-logo"
      .postFotterLogo__inc
        ©︎ FURIMA, Inc.