.border
.postForm
  .postForm__title
    = image_tag src="material/logo/logo.png", size: "140x40", class: "item-new-logo"
  .postForm__main
    = form_with model: @item, id: "item-dropzone", local: true do |f|
      .postContents
        .postContent
          .selectTitle
            .selectTitle__info
              出品画像
            .selectTitle__required
              必須
          .selectImageUpload
            最大5枚までアップロードできます             
          .imageUpload
            .prev-content
            .label-content
              %label{for: "item_item_images_attributes_0_image", class: "label-box"}
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :item_images do |i|
                = i.file_field :image, class:"hidden-field"
          .imageExistenceContent            
        .borders
        .postContent
          .selectNameIntro
            .selectNameIntro__name
              商品名
            .selectTitle__required
              必須
          = f.text_field :name, class: "inputName", placeholder: "40文字以内"
          .selectNameIntro
            .selectNameIntro__name
              商品の説明
            .selectTitle__required
              必須
          = f.text_area :introduction, class: "inputText", placeholder: "1000文字以内"
          .oneThousand
            .oneThousand__one 0/1000
        .borders
        .postContent
          .selectShowTitle 商品の詳細
          .selectShow              
            .selectNameIntro__name
              カテゴリー
            .selectTitle__required
              必須
          .CategoryBox
            .CategoryBox__select
              = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: "----" }, {id: 'parent_category'}
          .selectShow              
            .selectNameIntro__name
              ブランド
            .selectTitle__optional
              任意
          = f.text_field :brand, class: "inputName", placeholder: "選択してください"
          .selectShow              
            .selectNameIntro__name
              商品の状態
            .selectTitle__required
              必須
          = f.collection_select :condition_id, Condition.all, :name, :name, {include_blank: "選択してください"}, {class: "inputInformation"}
        .borders
        .postContent
          .selectShowTitle 配送について
          .selectShow   
            .selectNameIntro__name
              配送料の負担
            .selectTitle__required
              必須
          = f.collection_select :delivery_charge_id, DeliveryCharge.all, :name, :name, {include_blank: "選択してください"}, {class: "inputInformation"}
          .selectShow   
            .selectNameIntro__name
              配送元に地域
            .selectTitle__required
              必須
          = f.collection_select :delivery_origin_id, DeliveryOrigin.all, :name, :name, {include_blank: "選択してください"}, {class: "inputInformation"}
          .selectShow   
            .selectNameIntro__name
              配送までの日数
            .selectTitle__required
              必須
          = f.collection_select :delivery_date_id, DeliveryDate.all, :name, :name, {include_blank: "選択してください"}, {class: "inputInformation"}
        .borders
        .postContent
          .selectShowTitle 価格 (¥300~9,999,999)
          .selectPrices
            .selectShow   
              .selectNameIntro__name
                販売価格
              .selectTitle__required
                必須
            .selectPrice
              ¥
              = f.number_field :price, min: '300', max: '9999999' , class: "inputPrice", placeholder: "0", size: "40x40"
          .exhibition
            = f.submit "出品する", class: "exhibition-btn"
            = link_to "キャンセル", "#", class: "exhibition-cancel"
  .postForm__footer
    .postFooterList
      = link_to "プライバシーポリシー", "#", class: "postFooterList__list"
      = link_to "フリマ利用契約", "#", class: "postFooterList__list" 
      = link_to "特定商取引に関する表記", "#", class: "postFooterList__list"  
    .postFooterLogo
      =image_tag src="material/logo/logo-white.png", size: "140x40", class: "item-new-logo"
      .postFotterLogo__inc
        ©︎ FURIMA, Inc.