.itemShow
  .itemShow__main
    -if user_signed_in? && @item.seller_id == current_user.id
      .itemBox
        .itemBox__edit
          = link_to edit_item_path(@item), class: "editbtn" do
            編集
        .itemBox__delete
          = link_to item_path(@item), method: :delete, class: "deletebtn", data: { confirm: '商品削除は取り消せません。よろしいですか?' } do
            削除
    = flash[:alert]
    .itemShow__main__name
      = @item.name
    .itemShow__main__image
      - if !@item.buyer_id.nil?
        .sold_triangle
          .sold_word
            SOLD
      - if @item.item_images[0]
        = image_tag @item.item_images[0].image.url,size: "560x346",class: "mainImage"
      .itemSubImage
        - @item.item_images.each do |i|
          = image_tag i.image.url,class: "subImage", size: "110x80"
    .itemShow__main__price
      ¥
      = @item.price.to_s(:delimited)
    .itemShow__main__tax
      (税込)
      = @item.delivery_charge_id
    .itemShow__main__info
      .buyOrsell
        - if @item.buyer_id
          .bothod
            この商品は既に売却済みです！
        - elsif user_signed_in? && @item.seller_id == current_user.id
          .seller
            出品者は購入手続きができません！
        - else
          .buy
            = link_to  buy_item_path(@item), class: "buyItem" do
              購入画面に進む
    .itemShow__main__intro
      商品の説明
    .itemShow__main__introduction
      = @item.introduction
    .itemShow__main__table
      %table
        %tbody
          %tr
            %th
              出品者
            %td
              = @item.seller.nickname
          %tr
            %th
              カテゴリー
            %td
              = @parent.name
              %br
                = @child.name
                %br
                = @grandchild.name
          %tr
            %th
              ブランド
            %td
              - if @item.brand
                = @item.brand
          %tr
            %th
              商品の状態
            %td
              = @item.condition_id
          %tr
            %th
              配送料の負担
            %td
              = @item.delivery_charge_id
          %tr
            %th
              発送元の地域
            %td
              =link_to "#" do
                = @item.delivery_origin_id
          %tr
            %th
              発送日の目安
            %td
              = @item.delivery_date_id
    .itemShow__main__truble
      .problem
        %i.fa.fa-flag
        不適切な商品の通報
      .hand-sign
        %h6 いいね
        - if current_user
          - if current_user.already_liked?(@item)
            = link_to "#", class: "hand" do
              %i.fas.fa-heart
          - else
            = link_to item_likes_path(@item), method: :post, class: "hand-bad" do
              %i.far.fa-heart
        - else
          = link_to new_user_session_path, class: "hand-bad" do
            %i.far.fa-heart
.comment
  .commentAll
    .comments_title
      %i ＜コメント一覧＞
    .comments
      - if @comments
        - @comments.each do |comment|
          .comment_user
            = link_to comment.user.nickname, "/users/#{comment.user_id}", class: "comment_user"
          .comment_text
            = comment.text
    .comments_form
      - if current_user
        = form_with(model: [@item, @comment], class: "commentFormbtn", local: true) do |form|
          = form.text_area :text, placeholder: "100文字以内でコメントしてください", size: "40X20", class: "comment-Form"
          = form.submit "SEND", class: "comment-submit"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
.post
  = link_to new_item_path, class: "push-post" do
    出品する
  = link_to new_item_path, class: "new-post" do
    %i.fas.fa-camera